@{
    ViewBag.Title = "ButtonLeft";
}

<script type="text/javascript">    (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//script.tiptrace.com/script"; fjs.parentNode.insertBefore(js, fjs); } (document, 'script', 'tiptrace-js'));</script>

<style>
div.tt-tipthis
{
	position:fixed;
	top:30%; /*vertical position of the button*/
	left:0;
	margin-left:-6px;
	cursor:pointer;
	border:none;
	z-index:999999;
}

div.tt-tipthis:hover
{
	margin-left:-2px;
}

div.tt-tipthis img
{
	border:none;
}

</style>

<div class="tt-tipthis">
	<img src="http://script.tiptrace.com/content/images/buttons/tipthis_left.png" alt="TipThis" width="35" height="90">	
</div>