@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = "Facebook not connected";
}

<h1>Facebook not connected</h1>
<p>The facbook chat permission is needed to be able to share content personally.</p>
<p><a href="/Facebook">Retry</a></p>