@{
    ViewBag.Title = "Index";
}

<h1>Home</h1>

<p>Welcome to TipTrace</p>

@*<h2>Getting started</h2>
<p>Set up the TipTrace button on your site in 2 minutes by getting your personalised code from @Html.ActionLink("here", "Index","Implementation")</p>

<h2>Settings</h2>
<p>Manage your settings information via @Html.ActionLink("this section", "Index", "Settings")</p>

<h2>What is being tipped?</h2>
<p>Get extensive statistics from @Html.ActionLink("this page","Index","Stats")</p>*@
