@{
    ViewBag.Title = "Settings";
}

@section SubMenu {
    @Html.Partial("Menu")
}


<h1>Settings</h1>

<p>Update the settings here. Be sure to check this page often, we are constantly developing new ways to customize the TipTrace experience!</p>