@{
    Layout = "~/Views/Shared/_LayoutNotLoggedOn.cshtml";
    ViewBag.Title = "Signup";
}

<h1>Signup</h1>
<p>Signup is almost complete,</p><p>we've sent you an email with a confirmation link. When you click on it, you are all set!</p>
