<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TipTraceEntities" connectionString="metadata=res://*/TipTrace.csdl|res://*/TipTrace.ssdl|res://*/TipTrace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP_MARK;initial catalog=LetMeLinkIt;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TipTraceEntities" connectionString="metadata=res://*/TipTrace.csdl|res://*/TipTrace.ssdl|res://*/TipTrace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Mark-PC;initial catalog=TipTraceDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>