<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="@Url.Content("/Content/Javascript/jquery.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Content/Javascript/Lib.js")"></script>

        <link rel="StyleSheet" type="text/css" href="@Url.Content("/Content/Css/Popup.css")"/>

    </head>
    <body>
        <div id="PopupContainer">
            @RenderBody()
        </div>
    </body>
</html>