<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="StyleSheet" type="text/css" href="@Url.Content("/Content/Css/TipTrace.css")"/>
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body>

            @RenderBody()

    </body>
</html>